Name: zboard
Host: 0.0.0.0
Port: 8080
MaxBytes: 1048576
Timeout: 2000000000
MaxConns: 10000

environment: development
datasource: ""
redis_addr: "redis:6379"
jwt_secret: ""
bootstrap_admin_username: ""
bootstrap_admin_email: ""
bootstrap_admin_password: ""
